@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'poppins';
}

.modal{
    display: none;
    position: fixed;
    z-index: 1000; /* Ensure modal appears above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}



.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


.edit-modal{
    display: none;
    position: fixed;
    z-index: 1000; /* Ensure modal appears above other content */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.close-edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}



.edit-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px; /* Adjust width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}


.table-container
{
    overflow: auto;
    max-height: 500px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 1200px;
    color: aliceblue;
    
}

.character-table{
    
    text-align: center;
    width: 1200px;
   position: relative;
   left: 9px;
    table-layout: fixed;
   
    
}

th, td{
 

}

th{
    background-color: rgb(169, 58, 58);
    position: sticky;
    top: 0;
    z-index: 1;
}

thead{
    background-color: rgb(169, 58, 58);
}


/* .table_tr{
    background-color: red;
    color: wheat;
} */

/* .character-table{
    background-color: blue;
} */

.character-table{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}
/* 
th{
    background-color: blue;
} */